$bd-xlight: rgba(0, 0, 0, 0.12);
$bd-light: rgba(0, 0, 0, 0.16);
$bd-normal: rgba(0, 0, 0, 0.2);
$bd-dark: rgba(0, 0, 0, 0.24);
$bd-xdark: rgba(0, 0, 0, 0.33);

$border-solid-xlight: 1px solid $bd-xlight;
$border-solid-light: 1px solid $bd-light;
$border-solid-normal: 1px solid $bd-normal;
$border-solid-dark: 1px solid $bd-dark;
$border-solid-xdark: 1px solid $bd-xdark;

$border-dashed-xlight: 1px dashed $bd-xlight;
$border-dashed-light: 1px dashed $bd-light;
$border-dashed-normal: 1px dashed $bd-normal;
$border-dashed-dark: 1px dashed $bd-dark;
$border-dashed-xdark: 1px dashed $bd-xdark;
