/*
  Font-size tokens
*/
// Use only for a component which really need to attract some attentions
$display-1: 128px;
$display-2: 96px;
$display-3: 64px;

$heading-1: 44px;
$heading-2: 32px;
$heading-3: 24px;
$heading-4: 17px;
$heading-5: 15px;

$body-1: 15px;
$body-2: 17px;
$body-3: 21px;

$caption-1: 13px;
$caption-2: 12px;
$caption-3: 11px;
