@import 'invoker-tokens/index.scss';

.root {
}

.display {
}

// Display Text
.display1 {
  // composes: display;
  font-size: $display-1;
  line-height: $line-reset;
  letter-spacing: -1.44px;
  font-weight: 800;
}
.display2 {
  // composes: display;
  font-size: $display-2;
  line-height: $line-reset;
  letter-spacing: -1.628px;
  font-weight: 800;
}
.display3 {
  // composes: display;
  font-size: $display-3;
  line-height: $line-reset;
  font-weight: $bold;
  letter-spacing: -1.44px;
  font-weight: 800;
}

// Heading Text
.heading1 {
  color: $dark-alpha-80;
  font-family: $font-primary;
  font-size: $heading-1;
  line-height: 52px;
  letter-spacing: -1.44px;
  font-weight: $bold;
}
.heading2 {
  color: $dark-alpha-80;
  font-family: $font-primary;
  font-size: $heading-2;
  line-height: 36px;
  letter-spacing: -1.2px;
  font-weight: $bold;
}
.heading3 {
  color: $dark-alpha-80;
  font-family: $font-primary;
  font-size: $heading-3;
  line-height: 30px;
  letter-spacing: -0.8px;
  font-weight: $bold;
}
.heading4 {
  color: $dark-alpha-80;
  font-family: $font-primary;
  font-size: $heading-4;
  line-height: 26px;
  letter-spacing: -0.8px;
  font-weight: $medium;
}
.heading5 {
  color: $dark-alpha-80;
  font-family: $font-primary;
  font-size: $heading-5;
  line-height: 22px;
  letter-spacing: -0.24px;
  font-weight: $medium;
}
.heading6 {
  color: $dark-alpha-80;
  font-family: $font-primary;
  font-size: $heading-6;
  line-height: 18px;
  letter-spacing: -0.24px;
  font-weight: $medium;
}

// Body Text
.large {
  font-family: $font-primary;
  font-size: $body-3;
  line-height: 26px;
  font-weight: $regular;
}
.medium {
  font-family: $font-primary;
  font-size: $body-2;
  line-height: 22px;
  font-weight: $regular;
}
.small {
  font-family: $font-primary;
  font-size: $body-1;
  line-height: 18px;
  font-weight: $regular;
}

// Captions
.captionBold {
  display: inline-block;
  font-family: $font-primary;
  font-size: $caption-1;
  font-weight: $medium;
  text-transform: uppercase;
  line-height: 16px;
}
.caption {
  display: inline-block;
  font-family: $font-primary;
  font-size: $caption-1;
  font-weight: $regular;
  line-height: 16px;
}

// Label
.label {
  font-family: $font-primary;
  color: $dark-alpha-70;
  font-weight: 500;
  margin: $space-stack-s;
}

.labelSmall {
  composes: label;
  font-size: $heading-6;
  line-height: 18px;
}

.labelMedium {
  composes: label;
  font-size: $heading-5;
  line-height: 22px;
}

.message {
  font-family: $font-primary;
  font-size: $heading-5;
  font-weight: $regular;
  color: $dark-alpha-60;
}

.raw {
  padding-bottom: 0;
}

.link {
  font-family: $font-primary;
  font-weight: inherit;
  color: $brand-primary-200;
  text-decoration: none;
  background-image: linear-gradient(
    180deg,
    $brand-primary-200 30%,
    $brand-primary-200 30%
  );
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: all 0.12s;
  cursor: pointer;

  &:hover {
    background-size: 100% 1.5px;
    text-shadow: textshadow($light-alpha-100);
    color: $brand-primary-300;
  }
}
