@import 'src/tokens';

.root {
  // color: $dark-alpha-80;
}

.display {
  font-family: $font-primary;
}

// Display Text
.display1 {
  composes: display;
  font-size: $display-1;
  line-height: $line-reset;
  letter-spacing: -1.44px;
}
.display2 {
  composes: display;
  font-size: $display-2;
  line-height: $line-reset;
  letter-spacing: -1.628px;
}
.display3 {
  composes: display;
  font-size: $display-3;
  line-height: $line-reset;
  font-weight: $bold;
  letter-spacing: -1.44px;
}

// Heading Text
.heading1 {
  font-size: $heading-1;
  font-family: $font-primary;
  line-height: 56px;
  letter-spacing: -1.44px;
}
.heading2 {
  font-size: $heading-2;
  font-family: $font-primary;
  line-height: 40px;
  letter-spacing: -1.2px;
}
.heading3 {
  font-size: $heading-3;
  font-family: $font-primary;
  line-height: 32px;
  letter-spacing: -0.8px;
}
.heading4 {
  font-size: $heading-4;
  font-family: $font-primary;
  line-height: 24px;
  letter-spacing: -0.8px;
}
.heading5 {
  font-size: $heading-5;
  font-family: $font-primary;
  line-height: 16px;
  letter-spacing: -0.24px;
}

// Body Text
.large {
  font-family: $font-primary;
  font-size: $body-3;
  line-height: 32px;
  font-weight: $regular;
}
.normal {
  font-family: $font-primary;
  font-size: $body-2;
  line-height: 24px;
  font-weight: $regular;
}
.small {
  font-family: $font-primary;
  font-size: $body-1;
  line-height: 20px;
  font-weight: $regular;
}

.captionLarge {
  font-size: $caption-1;
  font-weight: $medium;
  text-transform: uppercase;
  font-family: $font-primary;
}
.captionNormal {
  font-size: $caption-2;
  font-weight: $regular;
  font-family: $font-primary;
}
.captionSmall {
  font-size: $caption-3;
  text-transform: uppercase;
  font-weight: $medium;
  font-family: $font-primary;
  letter-spacing: 0.8px;
}

.hero {
  font-size: $display-1;
  line-height: $line-cozy;
  color: $dark-alpha-80;
  font-weight: $bold;
  font-family: $font-primary;
}

.headline {
  font-size: $display-3;
  font-weight: $bold;
  font-family: $font-primary;
}

.heading {
  font-size: $heading-2;
  line-height: 40px;
  font-weight: $bold;
  font-family: $font-primary;
}

.label {
  font-family: $font-primary;
  font-size: $heading-5;
  font-weight: $medium;
}

.message {
  font-family: $font-primary;
  font-size: $heading-5;
  font-weight: $regular;
  color: $dark-alpha-60;
}

.raw {
  padding-bottom: 0;
}

.link {
  font-weight: $bold;
  color: $brand-primary-100;
  text-decoration: none;
  background-image: linear-gradient(
    180deg,
    $brand-primary-100 30%,
    $brand-primary-80 30%
  );
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-size: 100% 2px;
    text-shadow: textshadow($light-alpha-100);
    color: $brand-primary-200;
  }
}
