@import 'src/tokens';

.root {
  background: $bg-dust-100;
  width: 100%;
}

.logoContainer {
  width: 128px;
  height: 128px;
  margin: $space-stack-ml;
  margin-top: $space-xl;
}

.container {
  composes: container-narrow from global;
  max-width: 720px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greet {
  color: $brand-primary-200 !important;
  margin: $space-stack-xl;
}

.testContainer {
  background: $brand-secondary-100;
}
