@import 'src/tokens';

.root {
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  border-style: solid;
  letter-spacing: normal;
  font-family: $font-primary;
}

.medium {
  font-weight: $medium;
}

.bold {
  font-weight: $bold;
}

.small {
  border-width: 1px;
  padding: 6px 16px;
  font-size: $heading-6;
  line-height: 22px;
}

.large {
  border-width: 1px;
  padding: 11px 23px;
  font-size: $heading-5;
  line-height: 24px;
}

.smallAlt {
  border-width: 2px;
  padding: 5px 15px;
  font-size: $heading-6;
  line-height: 22px;
}

.largeAlt {
  border-width: 2px;
  padding: 10px 22px;
  font-size: $heading-5;
  line-height: 24px;
}

.primary {
  composes: root;
  border-color: $brand-primary-200;
  color: $light-alpha-100;
  background-color: $brand-primary-200;
  transition: all 0.4s ease;

  &:hover {
    border-color: $brand-primary-300;
    transition: all 0.24s ease;
    background-color: $brand-primary-300;
  }
}

.primaryAlt {
  composes: root;
  border-color: $brand-secondary-100;
  color: $light-alpha-100;
  background-color: $brand-secondary-100;
  transition: all 0.4s ease;

  &:hover {
    border-color: $brand-secondary-200;
    transition: all 0.24s ease;
    background-color: $brand-secondary-200;
  }
}

.primaryAltMedium {
  composes: primaryAlt medium;
}

.primaryAltBold {
  composes: primaryAlt bold;
}

.primaryMedium {
  composes: primary medium;
}

.primaryBold {
  composes: primary bold;
}

.primary_full {
  composes: primary;
  width: 100%;
  text-align: center;
}

.secondary {
  composes: root;
  font-weight: $medium;
  border-width: 1px;
  border-color: $dark-alpha-60;
  background: transparent;
  color: $dark-alpha-70;
  transition: all 0.4s ease;

  &:hover {
    background: $dark-alpha-10;
    border-color: $dark-alpha-80;
    transition: all 0.24s ease;
  }
}

.secondaryAlt {
  composes: root;
  font-weight: $bold;
  border-width: 2px;
  border-color: $dark-alpha-60;
  background: transparent;
  color: $dark-alpha-70;
  transition: all 0.4s ease;

  &:hover {
    background: $dark-alpha-10;
    border-color: $dark-alpha-80;
    transition: all 0.24s ease;
  }
}

.outline {
  composes: root;
  color: $brand-primary-80;
  border-color: $brand-primary-80;
  background-image: linear-gradient(
    180deg,
    transparent 95%,
    $brand-primary-100 0
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all 0.4s ease;
  background-color: transparent;

  &:hover {
    transition: all 0.24s ease;
    color: $brand-primary-100;
    border-color: $brand-primary-100;
    background-size: 100% 100%;
  }
}

.outline_full {
  composes: outline;
  width: 100%;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
  user-select: none;
}
