@import 'src/tokens';

:global {
  .nope {
    padding: 0;
  }

  .default {
    padding: $space-inset-m;
  }

  .cozy {
    padding: $space-inset-ml;
  }

  .compact {
    padding: $space-inset-sm;
  }

  .comfortable {
    padding: $space-inset-l;
  }

  .extreme {
    padding: $space-inset-xl;
  }
}
