@import 'src/tokens';

:global {
  .space-right--s {
    margin-right: $space-s;
  }

  .space-right--m {
    margin-right: $space-m;
  }

  .space-right--l {
    margin-right: $space-l;
  }

  .space-bottom--s {
    margin-bottom: $space-s;
  }

  .space-bottom--m {
    margin-bottom: $space-m;
  }

  .space-bottom--l {
    margin-bottom: $space-l;
  }
}
